{%  extends 'D:\PRACTS SEMV\IP\PS-Final_project-15_TECOMP_C_Satyam_Shukla\PS-Final_project-15_TECOMP_C_Satyam_Shukla\Browse n buy\browse_n_buy\home\templates\home\basic.html'  %}
{% load widget_tweaks %}
{% block head%}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style media="screen" >

body{
        margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
   background:#fffff;
}

.box {
    width: 600px;
    height: 580px;
    padding: 40px;
    position: absolute;
    top: 70%;
    left: 50%;
    background: #191919;
    text-align: left;
    transition: 0.25s;
    margin-top: 60px;

}

.box input[type="Email"],
.box input[type="Textarea"],
.box input[type="Text"] {
 border: 0;
    background: none;
    display: block inline;
    margin: 20px auto;
    margin-left:40px;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;

    width: 300px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h3 {
    color: white;
    text-transform: uppercase;
    font-weight: 500

}


.box h2 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    text-align:center;
    margin-bottom:5%;

}

.box input[type="Email"]:focus,
.box input[type="Text"],
.box input[type="Message"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 5px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 10px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #2ecc71
}

.forgot {
    text-decoration: underline
}


</style>
{% endblock%}

{% block title%}
Register
{% endblock%}

{% block body%}
<center>

    <div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-6">
            <div class="card" >
        <form class="box" method="post" enctype="multipart/form-data">
            <h2>Contact Us</h2>
          <!-- Very Important csrf Token -->
          {% csrf_token %}


            <h3>{{ form.as_p }}</h3>

            <br>
            <input type="submit" value="Send Message" class='btn btn-primary btn-lg'>
          </div>

            </div>
        </div>
    </div>
    </div>
  </center>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
{% endblock%}