{%  extends 'D:\PRACTS SEMV\IP\PS-Final_project-15_TECOMP_C_Satyam_Shukla\PS-Final_project-15_TECOMP_C_Satyam_Shukla\Browse n buy\browse_n_buy\home\templates\home\basic.html'  %}
{% load widget_tweaks %}
{% block head%}
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock%}

{% block title%}
contact us
{% endblock%}

{% block body%}
<br><br>
<div class="d-flex justify-content-center">
  <div class="jumbotron">
    <h1 class="display-4">Your message sent successfully !</h1>
    <p class="lead">We will respond to your feedback soon</p>
    <hr class="my-4">
    <p>Check other features of website !</p>

  </div>
  </div>
{% endblock%}