{%  extends 'D:\PRACTS SEMV\IP\PS-Final_project-15_TECOMP_C_Satyam_Shukla\PS-Final_project-15_TECOMP_C_Satyam_Shukla\Browse n buy\browse_n_buy\home\templates\home\customer_base.html'  %}
{% load static %}
{% load widget_tweaks %}
{% block head%}

{% endblock%}
{% block title%}
Home | page
{% endblock%}


{% block body%}
<div class="container" style="display: flex;
  justify-content: center;">
<div class="success-page" style="top:auto;">
   <img  src="http://share.ashiknesin.com/green-checkmark.png" class="center" alt="" />
  <h2 style="margin-top:6% ">Payment Successful !</h2>
  <p>We are delighted to inform you that we received your payments</p>

  <a style="text-decoration:none;" href="/home/customer-home">Continue Shopping</a>
</div>
    </div>
<br><br><br><br>
<br><br><br><br>

{% endblock %}