{%  extends 'D:\PRACTS SEMV\IP\PS-Final_project-15_TECOMP_C_Satyam_Shukla\PS-Final_project-15_TECOMP_C_Satyam_Shukla\Browse n buy\browse_n_buy\home\templates\home\basic.html'  %}
{% load static %}
{% block head%}
{% endblock%}
{% block title%}
Home | page
{% endblock%}


{% block body%}


  <div style="width: 70%; height: 20px; border-bottom: 3px solid #e6102d; text-align: center; margin-top: 30px;margin-left: 15%;" >
      <span style="font-size: 25px; background-color: white; padding: 0 10px;">
        Searched items
      </span>
    </div>

    {% if products%}
    <div class="row row-cols-1 row-cols-sm-3 g-4" style="margin-left:20%;margin-right: 20%;margin-top: 5%;margin-bottom:5%;">

      {%  for i in products %}
      <div class="col">
        <div class="card h-80">
          <img src="/media/{{i.product_image}}" width=40%  height=250px;  class="card-img-top" alt="...">

          <div class="card-footer">
            <small class="text-muted">{{i.name}}</small>


            <a style ="color:black "class="cart" href="{% url 'add-to-cart' i.id  %}">

                  <span class="add-to-cart">
                    <span style="padding-left:120px;"><i class="fas fa-shopping-cart"></i></span>
                  </span>
        </a>

            </div>


        </div>
      </div>
      {% endfor%}
    </div>

    {% else %}
    <div style="display: flex;justify-content: center; margin-top:6%;font-size:30px;">
        <pre>                       We are sorry.
            
The product you are searching for is currently not available.
        </pre>

    </div>

    {% endif %}


{% endblock %}